<h1>Users#index</h1>
<h2>Hola clase edutecno</h2>
<div>
	<%= link_to 'Agregar usuario', new_user_path %>	
</div>
<% flash.each do |key, value| %>
	<p><%=value%></p>
<% end %>
<table>
	<thead>
		<tr>Name</tr>
		<tr>Lastname</tr>
		<tr>Email</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.name%></td>
				<td><%= user.lastname%></td>
				<td><%= user.email%></td>
				<td><%= link_to 'ver', user_path(user) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

